doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/multer-autoreap@1.0.3/index.min.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="/javascripts/scripts.js")

  body
    block content
