extends layout

block content
  h1= title
  h2 Gerado a: #{adicionais.data}

  address 
    nav
      a(class="botao" href="/musicas") Listagem de Músicas
      a(class="botao" href="/provincias") Listagem de Provincias
      a(class="botao" href="/musicos") Listagem de Músicos




