extends layout

block content
  h1 Lista de paragrafos
  
  hr
    
  div(class="formulario" class="w3-container")
    form(id="myParaForm")
      label(for="para") Escreva o paragrafo:
      input(name="para" id="paraText" class="w3-input w3-border w3-light-grey" placeholder="Escreva o paragrafo..." required)
      div(class="w3-center")
        span(id="metodo")
        button(class="w3-button w3-round w3-red w3-hover-white" id="reset") Reset
     
  <hr>

  div(id="paraList")
  
  footer(class="w3-footer")
    address
      p Gerado por Joel Martins || Ultima modificação em: <span id="data"></span>

  script(src="/javascripts/scripts.js")
