<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style">
    
    <title>404 - File not found</title>
</head>
<body>
    <h1>O ficheiro que procurou nao existe ;)</h1>
    <h2>Site em construcao... tente este botao:</h2>
    <div class="w3-panel w3-button w3-red w3-padding w3-border"><a href="/cursos">Pagina com todas as funcionalidades implementadas</a></div>
</body>
</html>