extends layout

block content
  h1= titulo
  p= contexto

  table.w3-table
    tr 
      th Codigo 
      th Titulo
    each p in lista 
      tr   
        td
          a(href='/'+p.codigo)= p.codigo 
        td= p.titulo  





